.toolbar {
    background-color:#E91E63;
}

.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}

.blogPessoal {
    display: flex;
    margin-right: 2vh;
}

.menu {
    display: flex;
    position: absolute;
    right: 2vh;
}