.box1 {
    background-color:#3f51b5;
    padding: auto;
}

.redes {
    font-size: 40px !important;
    color:white;
}

.github {
    font-size: 34px !important;
    color:white;
    margin-right: 5px;
}

.social {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.texto1 {
    color:white;
}

