.caixa {
    background-color:white;
}

.titulo {
    color:#E91E63 !important;
    font-weight:bold !important;
}

.titulo2 {
    color:grey !important;
    font-weight:bold !important;
}

.botao {
    border-color:#E91E63 !important;
    background-color:#E91E63 !important;
    color:white !important;
   
}

.postagens {
    background-color:#E91E63;
}