
  .imagem {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
  }
  
  .botao {
    
    border-color:#E91E63 !important;
    background-color:#E91E63 !important;
    color:white !important;
    justify-content: center;
    margin: 0 auto !important;
    display: block !important;
  }