.imagem2 {
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none;
}

.btnCancelar {
    background-color: #e91E63!important;
    color: white !important;
    margin-right: 20px !important;
}

.cadastrar {
    background-color: #036BA6 !important;
    color: white !important;
}